@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/swiper-bundle.min.css";

.hero {
  background-image: url("https://optim.tildacdn.pub/tild6130-3963-4033-b434-333530643238/-/format/webp/mainimg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
